.wrapper {
  width: 100%;
  height: auto;
  background-color: var(--bg-primary);
  color: #f4f4f5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.results-title {
  justify-self: flex-start;
  width: 100%;
  font-size: 3vh;
  text-align: start;
  padding: 3vh;
}
